:root {
    --first-color: #272142;
    --second-color: #6c63ff;
    --third-color: #f9f7fe;
    --fourth-color: white;
    --fifth-color: black;
    --sixth-color:#272142;
    --seventh-color:#6c757d;
    --first-font:"Playfair Display", serif;
    --second-font: "Poppins", sans-serif;
  }


  /* Work */
  
   
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .header{
        width: 100%;
        text-align: left;
        margin: 192px 0 50px 0;
        padding-left: 38px;
    }
    .photo-works{
        width: 94%;
        margin: 0 auto;
    }
    
    .header h1{
        font-size: 64px;
        font-weight: bold;
        color: var(--fifth-color);
        font-family: var(--first-font);
    }
    .row{
        margin: 0 auto;
    }
    h4, p{
    text-align: center;
    }
    .row h4{
        font-size: 24px;
        line-height: 0.5;
        font-weight: bold;
        color: var(--fifth-color);
        font-family: var(--second-font);
        margin-bottom:12px;
    }
    img{
        border-radius: 4px;
    }
    .row p{
        font-size: 14px;
        font-weight: normal;
        line-height: 30px;
        color: var(--seventh-color);
        font-family: var(--second-font);
    }
    .text{
        margin-top: 30px;
    }
    .finish-row{
        margin-bottom: 200px;
    }
    
    
    /* for a small screens */
    
    @media (max-width: 800px){
    .header{
        text-align: center;
        margin: 30px 0 30px 0;
    }
    .photo-works{
        width: 100%;
    }
    .header h1{
        font-size: 27px;
    }
    .row h4{
        font-size: 18px;
    }
    .row p{
        font-size: 12px;}
        .row .text{
            margin: 30px 0 40px 0;
            
        }
    .finish-row{
        margin-bottom: 30px;
    }
    .container-image, .finish-row{
        width: 100% !important;
    }
    }
    
    /* for a middle screens */
    @media (min-width: 801px) and (max-width: 1100px){
        .header{
            text-align: center;
            margin: 80px 0 50px 0;
        }
        .photo-works{
            width: 100%;
        }
        .header h1{
            font-size: 47px;
        }
      
        .row .text{
            margin: 30px 0 50px 0;
            
        }
        .finish-row{
            margin-bottom: 100px;
        }
        .container-image, .finish-row{
            width: 100% !important;
        }
        }