:root {
    --first-color: #272142;
    --second-color: #6c63ff;
    --third-color: #f9f7fe;
    --fourth-color: white;
    --fifth-color: black;
    --sixth-color:#272142;
    --seventh-color:#6c757d;
    --first-font:"Playfair Display", serif;
    --second-font: "Poppins", sans-serif;
}

/* Contact */
 
    /* for all screens */
  .container{
    margin: 0 auto 150px auto;
    width: 100%;
}
.container h1{
    font-size: 64px;
    line-height: 80px;
    margin: 190px 0 50px 30px;
    color: var(--fifth-color);
    font-family: var(--first-font);
    font-weight: bold;
}

.contacts{
    margin-left: 30px;

}
.contacts h3{
    font-family: var(--second-font);
    font-size: 24px;
    line-height: 1.5;
    color: var(--fifth-color);
    font-weight: bold;
}
.contacts p{
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    font-weight: 500;
}
.contacts a{
    color: var(--second-color);
    text-decoration: underline;
    cursor: pointer;
}

/* for small screens */

@media (max-width: 600px){

    .logo{
        height: 30px;
        margin-left: 10px!important;
      }
.container{
  text-align: center!important;
}
.container h1{
    font-size: 37px!important;
    line-height: 40px;
    margin-top: 50px!important;
    margin-left: 0;
}
.contacts{
    margin-left: 0;
}
}
/* for meddium screens */
@media (min-width: 601px) and (max-width:1100px){

        .container h1{
            margin-top: 50px!important;
            margin-left: 0;
        }
        .contacts{
            margin-left: 0;
        }
}